@charset "UTF-8";
/* CSS Document */

/*#77b8d3*/


*{
    margin: 0;
    padding: 0;
}
html{
    background: #F7E5E6;
    -webkit-text-size-adjust:100%;
}
body{
    width: 410px;
    background: #FFF;
}

h3{
    margin-left: 30px;
    margin-top: 30px;
    padding: 5px 10px;
    background: #77b8d3;
    display:inline-block;
    color: #FFF;
}


/*  humbamgar    ----------------------------------------------*/
/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
    padding: 15px 5.3px 10px 10px;
    background: #FFF;
    position: fixed;
    top: -2px;
    left: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    border: 2px #77b8d3 solid;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 24px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #77b8d3;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
  opacity: 0.8;

}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
#nav-content li{
     list-style: none;
    margin: 40px;
}
#nav-content li ul{
     list-style: none;
    margin-bottom: 40px;
    opacity: 1;
}
#nav-content li ul a{
    color: #FFF;
    font-size: 20px;
}



/*デフォルト-------------------------------------------*/
.center{
    text-align: center;
}


/*   hedder   ----------------------------------------------*/
.hedder{
    background: #77b8d3;
    height: 65px;
    width: 410px;
    display: inline-block;
    position: relative;
}
.hedder img{
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}
.hedder h2{
    display: inline-block;
    color: #FFF;
    letter-spacing: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

/*  main-img    ----------------------------------------------*/
.main-img{
    margin-top: -1px;
}
/*  commentary    ----------------------------------------------*/
.commentary p{
    display: block;
    color: #77b8d3;
    line-height: 30px;
    margin: 10px 30px;
    font-size: 14px;
}
.commentary a{
    display:inline-block;
    margin: 10px 30px;
    text-decoration: none;
    color: blue;
}

.b-line{
    border-bottom: 2px blue solid;
    width: 85px;
    left: 29px;
    bottom: 11px;
    background:#000;
    margin-left: 30px;
    margin-top: -13px;
}
.commentary span{
    border-bottom: 1px #77b8d3 solid;
    font-weight: bold;
    margin: auto 4px;
}





/*  menu    ----------------------------------------------*/
.menu{
    margin: 50px;
    list-style: disc;
}





/*   アフィリエイト   ----------------------------------------------*/
.afi{
    text-align: center;
    margin-bottom: 30px;
}
/* MV壁紙      ----------------------------------------------*/
                h4{
                    text-align: center;
                    display: block;
                    margin: 20px;
                }/*h4に対して全て*/
.img img{
    margin: 7px 11px;
}
.img p{
    font-size: 13px
}





/*   ツイッター   ----------------------------------------------*/
.twilink{
    width: 330px;
    overflow: scroll;
    height: 500px;
    margin-left: 38px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    border: 3px #77b8d3 solid;
    border-radius: 9px
}



/* サブナビ----------------------------------------------*/
.subnavi a{
     text-decoration: none;
     color: #FFF;
      background: #77b8d3;
    display: inline-block;
    margin: 30px 106px;
    padding: 15px 50px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.subnavi a:active{
     transform: translateY(3px);
}

/* fin     ----------------------------------------------*/
.fin{
    background: #77b8d3;
    width: 410px;
    height: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 40px;
    position: relative;
}
.fin p{
    color: #FFF;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    padding-top: 10px;
}

/*      ----------------------------------------------*/


th img{
    margin-left: 7px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
td{
    text-align: center;
    margin-left: 7px;
    font-size: 12px;
    padding-top: 5px;
}







